.scroll-bar-container {
  position: absolute;
  top: 50%;
  left: 100%;
  height: 60%;
  width: 0.7rem;
  transform: translate(-1.8rem, -60%);
  background-color: rgba(0, 0, 0, 0.295);
  opacity: 0.4;
  transition: opacity 0.5s ease-in-out;
  padding: 0.3rem;
  border-radius: 0.6rem;
  z-index: 5;
}

.scroll-bar-container:hover {
  opacity: 1;
}

.scroll-bar {
  border-radius: 0.6rem;
  background-color: var(--primary-text);
  width: 100%;
  height: 30%;
}
